In [ ]:
Data Types and Structures Questions

Q1. What are data structures, and why are they important?
-> Data structures are ways of organizing and storing data so it can be accessed and modified efficiently.
Importance: They improve performance, memory usage, and make problem-solving easier.


Q2. Explain the difference between mutable and immutable data types with examples.
->  Mutable: Can be changed after creation. Example: list, dict, set.
    Immutable: Cannot be changed once created. Example: tuple, str, int.


Q3. What are the main differences between lists and tuples in Python?

->Lists are mutable, tuples are immutable.
  Lists use [], tuples use ().
  Tuples are faster and use less memory than lists.

Q4. Describe how dictionaries store data.

->Dictionaries store data as key-value pairs using a hash table internally. Keys must be unique and hashable, values can be of any type.

Q5. Why might you use a set instead of a list in Python?

->Sets store unique elements only.
Faster membership checking (in) than lists.
Useful for removing duplicates.


Q6. What is a string in Python, and how is it different from a list?

->A string is a sequence of characters (immutable).
 A list is a collection of elements (mutable, can hold mixed data types).

Q7. How do tuples ensure data integrity in Python?

Since tuples are immutable, data stored inside them cannot be changed accidentally, which ensures consistency.

Q8. What is a hash table, and how does it relate to dictionaries in Python?


A hash table is a data structure that maps keys to values using a hash function.

Python dictionaries are implemented using hash tables.

Q9. Can lists contain different data types in Python?

Yes ✅. Example: [1, "hello", 3.5, True].

Q10. Explain why strings are immutable in Python.
    
->Strings are immutable for:
  Security (prevents accidental modification).
  Performance (hashing, interning).
  Easier memory management.

Q11. What advantages do dictionaries offer over lists for certain tasks?

-> Fast lookups using keys (O(1) time).
   Better for mapping relationships (like storing student_id → student_name).
   Lists require O(n) search time.

Q12. Describe a scenario where using a tuple would be preferable over a list.
    
->When you want to store fixed data that should not change:
  Example: Coordinates (x, y), days of the week, database keys.

Q13. How do sets handle duplicate values in Python?
    
-> Sets automatically remove duplicates. Example:
   set([1, 2, 2, 3]) → {1, 2, 3}


Q14. How does the "in" keyword work differently for lists and dictionaries?

->  For lists, it checks if a value is present.
    For dictionaries, it checks if a key exists.

Q15. Can you modify the elements of a tuple? Explain why or why not.
    
-> No ❌, tuples are immutable. Once created, elements cannot be added, removed, or modified.


Q16. What is a nested dictionary, and give an example of its use case?
    
A dictionary inside another dictionary.
Example (student database):

students = {
  1: {"name": "Alice", "age": 20},
  2: {"name": "Bob", "age": 22}
}

Q17. Describe the time complexity of accessing elements in a dictionary.
    
 ->On average: O(1) (constant time), because of hashing.
   Worst case (rare collisions): O(n).

Q18. In what situations are lists preferred over dictionaries?
    
-> When order matters.
   When data does not require key-value mapping.
   For sequential processing (e.g., processing student marks in order).

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    
 ->Before Python 3.7, dictionaries did not guarantee order.
   Now (Python 3.7+), they preserve insertion order, but retrieval is still based on keys, not positions.


Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

->List: Access by index → O(1), search by value → O(n).
   Dictionary: Access by key → O(1).

In [1]:
#Q1 Write a code to create a string with yourname and print it
name= "sudhanshu ranjan"
print(name)

sudhanshu ranjan

In [2]:
#Q2 Write a code to find the length of the string "Hello World"
s="hello world"
print(len(s))

11

In [34]:
#Q3 Write a code to slice the first 3 characters from the string "Python Programming"
s="python programming"
print(s[:3])

pyt

In [4]:
#Q4 4. Write a code to concatenate the strings "Hello" and "World".

s1 = "Hello"
s2 = "World"
print(s1 + " " + s2)

Hello World

In [5]:
#Q5  Write a code to replace the word "apple" with "orange" in the string "I like apple".

s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [6]:
#Q6 Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#Q7  Write a code to append the number 10 to the list [1, 2, 3, 4].

lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
#Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
#Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [10]:
#Q10 Write a code to reverse the list [10, 20, 30, 40, 50].

lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)
# OR
print(lst[::-1])

[50, 40, 30, 20, 10]
[10, 20, 30, 40, 50]

In [11]:
#Q11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [12]:
#Q12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [13]:
#Q13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

t = (10, 20, 5, 15)
print(min(t))

5

In [14]:
#Q14. Write a code to find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit').

t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

In [15]:
#Q15. Write a code to create a tuple containing three different fruits and check if 'kiwi' is in it.

fruits = ('apple', 'banana', 'kiwi')
print('kiwi' in fruits)

True

In [16]:
#Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

In [17]:
#Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
#Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [19]:
#Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [20]:
#Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 4}.

s1 = {1, 2, 3}
s2 = {2, 4}
print(s1.intersection(s2))

{2}

In [21]:
#Q21. Write a code to create a dictionary with the keys 'name', 'age', and 'city', and print it.

person = {"name": "Alice", "age": 25, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'Paris'}

In [22]:
#Q22. Write a code to add a new key-value pair 'country': 'USA' to the dictionary {'name': 'John', 'age': 25}.

person = {"name": "John", "age": 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#Q23. Write a code to access the value associated with the key 'name' in the dictionary {'name': 'Alice', 'age': 30}.

person = {"name": "Alice", "age": 30}
print(person["name"])   # Output: Alice

Alice

In [24]:
#Q24. Write a code to remove the key 'age' from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {"name": "Bob", "age": 22, "city": "New York"}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#Q25. Write a code to check if the key 'city' exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {"name": "Alice", "city": "Paris"}
print("city" in person)

True

In [26]:
#Q26. Write a code to create a list, a tuple, and a dictionary and print them all.

lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst)
print(tup)
print(dct)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [27]:
#Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[24, 61, 97, 99, 100]

In [28]:
#Q28. Write a code to create a list with strings and print the element at the third index.

lst = ["apple", "banana", "cherry", "date", "kiwi"]
print(lst[3])

date

In [33]:
#Q29. Write a code to combine two dictionaries into one and print the result.

d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
combined = {**d1,**d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
#Q30. Write a code to convert a list of strings into a set.

lst = ["apple", "banana", "cherry", "apple"]
s = set(lst)
print(s)

{'apple', 'banana', 'cherry'}